# dependencies
/week7_homework_todo list_jsonServer API/node_modules

/week14_homework_Rick and Morty API_React/node_modules

/week15_homework_Rick and Morty API_React_useContext+customHook/node_modules